.form-group {
    margin: 15px;
}

.modal-body {
    position: relative;
    padding: 15px;
}



#div7 label
{color: #5f5a5a;
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    width: 90%;}
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#div7 .fb-radio-group .radio, #div7 .fb-radio-group .radio-inline {
    padding-left: 0;
}

 #div7.checkbox label, #div7 .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
#div7 .form-control {

    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	
}
 #div7 option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

#div7
{
    text-align:left;
}

#div7 h1,
#div7 h2,
#div7 h3
{
   text-align:center; 
}

#div7  input[type="text"]
{
       height: 20px;
    font-size: 1.2em;
width: 15%;
}

#div7 select.NwithUnits
{
    display: initial;
    width: 10%;
    float: left;
    margin-top: -35px;
    margin-left: 200px;
}

#div7 h1[key]
{
font-size: 2em;
}
