<footer class="footer bs2">
    <div class="row">
        <div class="col-sm-4 col-md-2 col-lg-2 text-center hidden-sm hidden-md hidden-lg">
            <span class="uid">Lab Technician_215</span>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5 hidden-xs">
            <span class="copyright">Copyright &copy; 2017. All Rights Reserved.</span>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 text-center hidden-xs">
            <span class="uid">Lab Technician_215</span>
        </div>
        <div class="col-xs-8 col-sm-4 col-md-5 col-lg-5 hidden-sm hidden-md hidden-lg">
            <span class="copyright">Copyright &copy; 2017. All Rights Reserved.</span>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-5 col-lg-5 text-right">
            <span class="version">Version: V3.3.22</span>
        </div>
    </div>
</footer>
