<style>
    html * {
        font-size: 10px;
    }
</style>
<div style="width: 100%;">
    <table id="" style="font-family:Verdana;font-weight:normal;font-size:11px;border-style:solid;margin: auto;">
        <thead>
            <tr id="">
                <td>
                    <table id="" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr>
                                <td align="left" valign="top">
                                    <img id="" src="../CommonControls/Anderson_logo.png" style="border-width:0px;">
                                </td>
                                <td align="left" valign="top">
                                    &nbsp;


                                </td>
                                <td valign="top">
                                    <label id="" style="font-family:Verdana;font-size:14px;">Anderson Diagnostics &amp; Labs ,No. 150, Opp to Dasaprakash Hotel, Chennai,TamilNadu -600084.</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    <hr noshade="noshade">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    <span id="">BILL CUM RECEIPT</span>

                                </td>
                            </tr>
                            <tr>
                                <td id="" colspan="5">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td id="" colspan="10" align="center" style="display:none;">
                                                    <span id="" style="font-weight: bold;">BILL CUM RECEIPT</span>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td id="" colspan="10" align="right" valign="top">
                                                    <img id="" src="../admin/BarcodeHandler.ashx?width=160&amp;height=50&amp;barcodeno=1810001031364" style="border-width:0px;display: none">
                                                </td>

                                            </tr>
                                            <tr>

                                                <td style="width: 4%"></td>
                                                <td align="left" nowrap="nowrap">
                                                    <span id="">Name</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 2%">
                                                    &nbsp;:
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 23%">
                                                    <span style="width: 23%">
                                                        <span id="" style="font-weight: 700">Mr.</span>
                                                        <span id="" style="font-weight: 700">JEEVA</span>
                                                    </span>
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 3%;" class="style8"></td>
                                                <td id="" align="left" nowrap="nowrap" style="width: 3%"></td>

                                                <td align="left" nowrap="nowrap" style="width: 13%;"></td>
                                                <td align="left" nowrap="nowrap" style="width: 10%;">
                                                    <span id="">Bill Date</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 2%;">
                                                    &nbsp;:&nbsp;
                                                </td>
                                                <td align="left" style="width: 10%;">
                                                    <span id="" style="font-weight: 700">09/Mar/18 05:57 PM</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" nowrap="nowrap" style="width: 4%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="style2">
                                                    &nbsp;
                                                </td>
                                                <td align="left" nowrap="nowrap" class="style6">
                                                    <span id="">Patient No</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" class="style4">
                                                    &nbsp;:
                                                </td>
                                                <td align="left" class="style9">
                                                    <span style="width: 23%">
                                                        <span id="" style="font-weight: 700;">P00031800005</span>
                                                    </span>
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 3%;" class="style6"></td>
                                                <td id="" align="left" nowrap="nowrap" class="style3"></td>

                                                <td align="left" nowrap="nowrap" style="width: 13%;" class="style10"></td>

                                                <td align="left" nowrap="nowrap" style="width: 10%">
                                                    <span id="">Bill No</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 2%">
                                                    &nbsp;:&nbsp;
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 23%">
                                                    <span id="" style="font-weight: 700">B00031800002</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" nowrap="nowrap" style="width: 4%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr id="">
                                                <td style="width: 4%">
                                                    &nbsp;
                                                </td>
                                                <td align="left" nowrap="nowrap">

                                                    <span id="">Visit No</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" class="style1" style="width: 2%">
                                                    &nbsp;:&nbsp;
                                                </td>
                                                <td align="left" nowrap="nowrap">

                                                    <span id="" style="font-weight: 700">1810001031364</span>
                                                </td>
                                                <td id="" align="left" nowrap="nowrap" style="width: 3%;" class="style8"></td>
                                                <td id="" align="left" nowrap="nowrap"></td>
                                                <td id="" align="left" nowrap="nowrap" style="width: 13%;"></td>
                                                <td align="left" nowrap="nowrap" style="width: 10%">
                                                    <span id="">Contact No</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 2%">

                                                    <span id="">&nbsp;:&nbsp;</span>

                                                </td>
                                                <td align="left" style="width: 10%">
                                                    <span id="" style="font-weight: 700">8979797897897</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left" nowrap="nowrap" style="width: 4%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 4%"></td>
                                                <td align="left" nowrap="nowrap">
                                                    <span id="">Age</span>
                                                    /<span id="">Sex</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" class="style1" style="width: 2%">
                                                    &nbsp;:&nbsp;
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 23%">
                                                    <span id="" style="font-weight: 700">29 Year(s)</span>
                                                    /<span id="" style="font-weight: 700">Male</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 3%;" class="style8"></td>
                                                <td align="left" nowrap="nowrap" class="style1"></td>
                                                <td align="left" style="width: 13%;" nowrap="nowrap"></td>
                                                <td align="left" style="width: 10%">
                                                    <span id="">Email</span>
                                                </td>

                                                <td align="left" nowrap="nowrap" style="width: 2%">

                                                    <span id="">&nbsp;:&nbsp;</span>

                                                </td>
                                                <td align="left" style="width: 10%">
                                                    <span id="" style="font-weight: 700; text-wrap:normal">a@gmail.com</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" nowrap="nowrap" style="width: 4%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 4%">
                                                    &nbsp;
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 10%">
                                                    <span id="">Ref Doctor</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" class="style1" style="width: 2%">
                                                    &nbsp;: &nbsp;
                                                </td>
                                                <td align="left" nowrap="nowrap" width="8%"></td>
                                                <td align="left" nowrap="nowrap" style="width: 3%;" class="style8"></td>
                                                <td align="left" nowrap="nowrap" class="style1"></td>
                                                <td align="left" style="width: 13%;" nowrap="nowrap"></td>
                                                <td align="left" nowrap="nowrap" style="width: 10%">
                                                    <span id="">Mode of Delivery</span>
                                                </td>

                                                <td align="left" nowrap="nowrap" style="width: 2%">

                                                    <span id="">&nbsp;:&nbsp;</span>

                                                </td>
                                                <td align="left" style="width: 10%;">
                                                    <span id="" style="font-weight: 700">Email,Sms</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" nowrap="nowrap" style="width: 4%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr id="">
                                                <td class="style2"></td>
                                                <td align="left" nowrap="nowrap" class="style6">
                                                    <span id="">Patient History</span>
                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 2%">

                                                    <span id="">&nbsp;:&nbsp;</span>

                                                </td>
                                                <td align="left" class="style11">
                                                    <span id="" style="font-weight: 700"></span>
                                                </td>
                                                <td align="left" nowrap="nowrap" class="style6"></td>
                                                <td align="left" nowrap="nowrap" class="style7">
                                                    &nbsp;&nbsp;
                                                </td>
                                                <td align="left" nowrap="nowrap" class="style3"></td>
                                                <td align="left" nowrap="nowrap" class="style6"></td>
                                                <td align="left" nowrap="nowrap" style="width: 2%">

                                                    <span id="">:</span>

                                                </td>
                                                <td align="left" nowrap="nowrap" style="width: 10%;">

                                                    &nbsp;&nbsp;
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left" nowrap="nowrap" style="width: 4%">
                                                    &nbsp;
                                                </td>
                                            </tr>


                                            <tr>
                                                <td align="left" nowrap="nowrap" style="width: 4%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr id="" style="display:none">
                                                <td colspan="6" align="center">

                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="defaultfontcolor">
                                                        <tbody>
                                                            <tr id="" style="display:none;">
                                                                <td style="width: 100%" align="left">
                                                                    <span id="" style="font-size:small;font-weight: 700">Client / Insurance Provider:</span>
                                                                    <span id="" style="font-weight:bold;font-size:small;font-weight: 700"></span>

                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width: 100%" align="left">
                                                                    <table id="" cellspacing="0" cellpadding="1" border="0" style="border-collapse:collapse;"></table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <div>
                                        <table class="w-100p gridView" cellspacing="0" rules="all" border="1" id="" style="border-color:#B6A8A8;border-width:1px;border-style:Solid;width:100%;border-collapse:collapse;">
                                            <tbody>
                                                <tr style="color:Black;font-weight:bold;">
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Report Date</th>
                                                    <th align="center" scope="col">Amount</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span id="">17 - Hydroxyprogesterone ( 17-Ohp)</span>
                                                    </td>
                                                    <td style="width:18%;"></td>
                                                    <td align="right" valign="middle" style="width:12%;">1265.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr valign="top">
                                                <td style="width: 30%">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-top: 5px;">
                                                                    <span id="" style="font-weight:bold;">Payment Mode</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span id="">Cash - Indian Rupee - 1265.00<br></span>
                                                                    <span id=""></span>
                                                                </td>
                                                            </tr>
                                                            <tr id="" style="display: table-row">
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <span id=""></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td align="right" style="width: 70%">
                                                    <table>
                                                        <tbody>
                                                            <tr align="right">
                                                                <td>
                                                                    <table id="" border="0" cellpadding="0" cellspacing="0" style="width:100%;border-color:#000000;display:block;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="right" valign="Middle">
                                                                                    <span id="">Gross Amount</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right">
                                                                                    <span id="">1265.00</span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr style="display: none;">
                                                                                <td align="right" valign="Middle">
                                                                                    <span id="">Deduction Amount</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right">
                                                                                    <span id="">0.00</span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr id="" style="display: none;">
                                                                                <td align="right" valign="middle">
                                                                                    <span id="">Service Charge</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right" valign="middle">
                                                                                    <span id=""></span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr id="" style="display: none;">
                                                                                <td align="right" valign="middle">
                                                                                    <span id="">Tax Amount</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right" valign="middle">
                                                                                    <span id=""></span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr id="" style="display: none;">
                                                                                <td align="right" valign="middle">
                                                                                    <span id="">ED Cess</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right" valign="middle">
                                                                                    <span id=""></span>&nbsp;
                                                                                    <input name="advBillPrint$hdnEDCess" type="hidden" id="" value="0">
                                                                                </td>
                                                                            </tr>
                                                                            <tr id="" style="display: none;">
                                                                                <td align="right" valign="middle">
                                                                                    <span id="">SHED Cess</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right" valign="middle">
                                                                                    <span id=""></span>&nbsp;
                                                                                    <input name="advBillPrint$hdnSHEDCess" type="hidden" id="" value="0">
                                                                                </td>
                                                                            </tr>
                                                                            <tr id="" style="display: none;">
                                                                                <td align="right" valign="middle">
                                                                                    <span id=""></span>&nbsp;

                                                                                    Discount (-) :
                                                                                </td>
                                                                                <td align="right" valign="middle">
                                                                                    <span id=""></span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr id="" style="display: none;">
                                                                                <td align="right" valign="middle">
                                                                                    <span id="">Round Off Amount</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right" valign="middle">
                                                                                    <span id="">0.00</span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right" valign="Middle" colspan="2"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right" valign="Middle" colspan="2">
                                                                                    -----------------------------------
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right" valign="Middle">
                                                                                    <span id="">Grand Total</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right">
                                                                                    <span id="">1265.00</span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr id="" style="display: none">
                                                                                <td align="right" valign="Middle">
                                                                                    <span id="">Previous Due</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right">
                                                                                    <span id="">0</span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right" colspan="2" valign="Middle">
                                                                                    -----------------------------------
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right" valign="middle">
                                                                                    <span id="">Net Amount</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right">
                                                                                    <span id="" style="font-weight: 700">1265.00</span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right" valign="middle" colspan="2">
                                                                                    -----------------------------------
                                                                                </td>
                                                                            </tr>
                                                                            <tr id="" style="display:table-row;">
                                                                                <td align="right" valign="middle">
                                                                                    <span ">Amount Received</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right">
                                                                                    <span id="" style="font-weight: 700">1265.00</span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                            <tr id="" style="display: none">
                                                                                <td align="right" valign="middle">
                                                                                    <span id="">Due</span>
                                                                                    &nbsp;:
                                                                                </td>
                                                                                <td align="right">
                                                                                    <span "></span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                            <tr align="right">
                                                                <td>
                                                                    <table id="" border="0" cellpadding="0" cellspacing="0" style="border-color:#000000;text-align:right;width:100%;display:none;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="right" valign="middle">
                                                                                    <span id="">Received Amount</span>
                                                                                    :
                                                                                </td>
                                                                                <td align="right">
                                                                                    <span id=""></span>&nbsp;
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="left"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr id="" style="display:none;">
                                                <td colspan="2" align="left">
                                                    <span id=""></span>
                                                </td>
                                            </tr>


                                            <tr id="" style="padding-top:10px;display:block;">
                                                <td colspan="2" align="left">
                                                    <span id="" style="font-weight: 700">amount received in words Rupees</span>
                                                    <span id="" style="font-weight: 700">One Thousand Two Hundred Sixty Five Only</span>
                                                </td>
                                            </tr>

                                            <tr id="" style="display: table-row;" display="table-row">
                                                <td colspan="2" align="left">
                                                    <span " style=" font-weight 700; display none;">Paying Currency: (Indian Rupee)</span>
                                                    <span id="" style="font-weight: 700;
                                        display: none;">One Thousand Two Hundred Sixty FiveOnly</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td id="" align="left" style="display: block">
                                                    <span id="" style="font-weight:700;display:none;">Due Amount in Words:Rupees</span>
                                                    <span id="" style="font-weight: 700"></span>
                                                </td>

                                                <td id="" align="right" style="display: none">
                                                    <span id="">User Name:</span>
                                                    <span id=""></span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td align="left"></td>
                                                <td align="right">

                                                    <span id=""></span>
                                                </td>
                                            </tr>
                                            <tr id="">
                                                <td colspan="2" align="left"></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2" align="left">
                                                    &nbsp;

                                                    <span id=""></span>
                                                </td>
                                            </tr>
                                            <tr id="">
                                                <td colspan="2" align="left">
                                                    &nbsp;
                                                </td>
                                            </tr>



                                            <tr id="">
                                                <td colspan="2" align="left">
                                                    &nbsp;
                                                </td>
                                            </tr>

                                            <tr id="">
                                                <td colspan="2" align="right">
                                                    &nbsp;
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2" align="right">
                                                    <span id="">BILLED BYMR.HARISH</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span id=""></span>
                </td>
            </tr>
            <tr>
                <td id="" width="100%" style="display: none;"></td>
            </tr>
            <tr>
                <td>

                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>

                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</div>